@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif; 
}

.testata{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.testata ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
    list-style: none;
}

input{
    text-align: center;
    background-color: white;
    cursor: pointer;
    font-size: 25px;
}

#logOut{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 0.5rem;
    right: 5%;
}

#logOut:hover{
    background-color: rgb(70,70,70);
    cursor: pointer;
    transition: all .3s ease;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.container-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.user-list{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.user{
	display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
