@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.testata{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testata ul{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    list-style: none;
}

.testata input{
    background-color: white;
    cursor: pointer;
    font-size: 25px;
}

input{
    text-align: center
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.add_card{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 5rem;
}

.add-show{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 5px;    
    padding: 10px;
    gap: 2rem;
}

.add-show form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
} 

.show{
	gap: 5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nascosto{
	display: none;
}

.visibile{
	display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn-modifica{
    width: 100px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    transition: all .3s ease;
}

#submit-btn{
    padding: 5px;
    background-color: black;
    color: white;
    width: 250px;
    position: relative;
    left: 37%;
}

#btn-modifica:hover{
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}