<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProgettoCinema</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFilmServlet</display-name>
    <servlet-name>AddFilmServlet</servlet-name>
    <servlet-class>controller.AddFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFilmServlet</servlet-name>
    <url-pattern>/AddFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGenreServlet</display-name>
    <servlet-name>AddGenreServlet</servlet-name>
    <servlet-class>controller.AddGenreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGenreServlet</servlet-name>
    <url-pattern>/AddGenreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddActorServlet</display-name>
    <servlet-name>AddActorServlet</servlet-name>
    <servlet-class>controller.AddActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddActorServlet</servlet-name>
    <url-pattern>/AddActorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSalaServlet</display-name>
    <servlet-name>AddSalaServlet</servlet-name>
    <servlet-class>controller.AddSalaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSalaServlet</servlet-name>
    <url-pattern>/AddSalaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpettacoloServlet</display-name>
    <servlet-name>AddSpettacoloServlet</servlet-name>
    <servlet-class>controller.AddSpettacoloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpettacoloServlet</servlet-name>
    <url-pattern>/AddSpettacoloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShowServlet</display-name>
    <servlet-name>AddShowServlet</servlet-name>
    <servlet-class>controller.AddShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShowServlet</servlet-name>
    <url-pattern>/AddShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyTicketServlet</display-name>
    <servlet-name>BuyTicketServlet</servlet-name>
    <servlet-class>controller.BuyTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyTicketServlet</servlet-name>
    <url-pattern>/BuyTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSpettacolo</display-name>
    <servlet-name>DeleteSpettacolo</servlet-name>
    <servlet-class>controller.DeleteSpettacolo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSpettacolo</servlet-name>
    <url-pattern>/DeleteSpettacolo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderMovie</display-name>
    <servlet-name>OrderMovie</servlet-name>
    <servlet-class>controller.OrderMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderMovie</servlet-name>
    <url-pattern>/OrderMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMovieServlet</display-name>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <servlet-class>controller.DeleteMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <url-pattern>/DeleteMovieServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>controller.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyMovie</display-name>
    <servlet-name>ModifyMovie</servlet-name>
    <servlet-class>controller.ModifyMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyMovie</servlet-name>
    <url-pattern>/ModifyMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoviePageServlet</display-name>
    <servlet-name>MoviePageServlet</servlet-name>
    <servlet-class>controller.MoviePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoviePageServlet</servlet-name>
    <url-pattern>/MoviePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectionPageServlet</display-name>
    <servlet-name>ProjectionPageServlet</servlet-name>
    <servlet-class>controller.ProjectionPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectionPageServlet</servlet-name>
    <url-pattern>/ProjectionPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyProjection</display-name>
    <servlet-name>ModifyProjection</servlet-name>
    <servlet-class>controller.ModifyProjection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProjection</servlet-name>
    <url-pattern>/ModifyProjection</url-pattern>
  </servlet-mapping>
</web-app>